<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h2>Enter your data!</h2>

<form action="/registration" method="post">
    <input type="email" name="email" placeholder="Your email" required>
    <input type="text" name="nickname" placeholder="Your nickname" required>
    <input type="password" name="password" placeholder="Your password" required>
    <button type="submit">Registration</button>
</form>

<h5>Підказка</h5>
{{#each users}}
    <ul>
        <li>Email: {{this.email}}---{{this.nickname}} --- Password:{{this.password}}</li>
    </ul>
{{/each}}
</body>
</html>