<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    <p style="display: inline-block">Email: <u style="color: blue">{{this.user.email}}</u></p>
    <span>----</span>
    <p style="display: inline-block">Nickname: <u style="color: blue">{{this.user.nickname}}</u></p>
    <span>----</span>
    <p style="display: inline-block">Password: <u style="color: blue">{{this.user.password}}</u></p>
</div>

</body>
</html>